.pulse {
    animation: pulse 3s ease-in-out 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

.skeleton {
    &__header {
        width: 40%;
        height: 10px;
        background-color: #5e5e5e;
        border-radius: 3px;
    }
    &__block {
        height: 12px;
        width: 100%;
        background-color: #5e5e5e;
        border-radius: 3px;
        margin-bottom: 10px;
    }
}