@import '~bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #353535;
    color: #fff;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    
}